#root {
  max-width: 1280px;
  padding-right: 2rem;
  text-align: center;
}

ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: #00a8ff;
}

.user-input {
  @apply appearance-none	leading-tight  block w-full rounded py-3 px-4  italic mb-3
}

.main-component {
  /* @apply w-screen h-screen bg-gray-200 p-10 text-left; */
  @apply h-screen w-4/5 bg-gray-200 p-10 text-left;
}

.label-text {
  @apply tracking-wide font-bold;
}

.title-text {
  @apply text-4xl my-10 font-bold;
}

.error-text {
  @apply my-10 text-red-500;
}
